@import "./code-editor-syntax";
@import "./text-editor-cell";
@import "./react-draggable";
@import "./react-resizable";

@import "node_modules/remirror/styles/all.css";

a {
  color: inherit;
  text-decoration: none;
}

._app-body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  & > .main {
    flex-grow: 1;
    overflow: auto;

    & > * {
      height: 100%;
    }
  }
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    background: transparent;
  }
}

.debug {
  border: 2px solid red;
}

