* {
  --rmr-color-background: #121212 !important;
}

.remirror-theme {
  --rmr-color-border: rgba(255, 255, 255, 0.75) !important;
}

.view-only .remirror-theme .ProseMirror {
  box-shadow: none !important;
}
